<form method="post">
    <div class="post-schedule-background">
        <div class="center-item" style="position: absolute;top: 24vh;left: 45vw;">
                <h4>
                    <p>Train number: <%= @number[:number] %></p>
                    <p>Departure city: <%= @schedule[:departure_city] %></p>
                    <p>Arrival city: <%= @schedule[:arrival_city] %></p>
                    <p>Departure time: <%= @schedule[:departure_time] %></p>
                    <p>Arrival time: <%= @schedule[:arrival_time] %></p>
                    <p>Price: <%= @schedule[:price] %></p>
                </h4>
            <p>
            </p>
            <input class="btn btn-danger" type="submit" value="Remove">
        </div>
    </div>
</form>