<form method="get">
    <div class="schedule-background">
      <p>
      <a class="btn btn-dark" style="margin-left: 25px; font-family: Roboto, cursive" href='/schedules/new'>Add schedule element</a>
    </p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Departure city</th>
                    <th scope="col">Arrival city</th>
                    <th scope="col">Departure time</th>
                    <th scope="col">Arrival time</th>
                    <th scope="col">Price</th>
                    <th scope="col">Change</th>
                    <th scope="col">Remove</th>
                </tr>
            </thead>
            <tbody>
                <% @schedules.each do |schedule| %>
                <% @schedule = schedule %>
                <%= render :schedule_partial %>
                <% end  %>
            </tbody>
        </table>
        <p>
            <% page_start = (@page_number - 2) > 0 ? @page_number - 2 : 0 %>
            <% page_end = (@page_number + 2) < @pages_count ? @page_number + 2 : @pages_count %>
            <% page_start.upto(page_end) do |page_num| %>
            <% if page_num == @page_number %>
            <%= page_num + 1 %>
            <% else %>
            <a href="/schedules?page_number=<%= page_num %>&search=<%=@search %>">
                <%= page_num + 1 %>
            </a>
            <% end %>
            <% end %>
        </p>
    </div>
</form>